/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* Asegura que padding y border se incluyan en el ancho y alto total */
}

/* variables */
:root {
    --azul: #1E3A5F;
    /* fondo de header, footer, y secciones clave */
    --amarillo: #F0A500;
    /* para resaltar botones y llamadas a la acción */
    --gris-claro: #F5F5F5;
    /* areas generales */
    --gris-oscuro: #333333;
    /* texto */
    --naranja: #FF6700;
    /* iconos, links o detalles pequeños */
    --metal: #A5A5A5;
    /* detalles adicionales u hover */
    --blanco: #fafafa;
}

/* body, contiene el header, main y footer */



body {
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
}

header {
    display: flex;
    align-items: center;
    background-color: var(--azul);
    justify-content: space-between;
    padding: .5rem;
    font-size: 1rem;
}

.logo {
    max-width: 5rem;
    border-radius: 2.5rem;
    
}

.nav-list {
    list-style-type: none;
    display: flex;
    padding-inline: .25rem;
    gap: .65rem;
    font-size: 1.1rem;
}

.nav-list a{
    text-decoration: none;
    color: var(--gris-claro);    
}

.abrir-menu,
.cerrar-menu {
    display: none;
    border: 0;
    font-size: 2rem;
    color: var(--metal);
    background-color: transparent;
    cursor: pointer;
}

.cerrar-menu {
    font-size: 1.5rem;
}

h1, h2, h3, .titulo-producto {
    font-family: 'Rakkas', sans-serif;
}

body, p, a, li {
    font-family: 'Open Sans', sans-serif;
}

.none {
    display: none;
}

p {
    font-size: 1.25rem;
    color: var(--gris-oscuro);
}

h1 {
    display: flex;
    justify-content: center;
    color: var(--azul);
    padding-top: 1.2rem;
    margin: auto;
    font-size: 2.2rem;
    font-weight: 400;
}

h2{
    font-size: 1.9rem;
    color: var(--azul);
}

h3 {
    font-size: 1.75rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--azul);
}

/* .nosotros, .divServicios, .clientes, .proyectos, .garantia, .contactos, .mecanizados, .ferreteria {
    margin: auto;
    width: 100%;
    margin-bottom: 2.5rem;
} */

/* .nosotros, .divServicios, .clientes, .proyectos, .garantia, .contactos, .mecanizados,p {
    margin: .5rem .5rem 1rem 1rem ;
} */

/* Servicios */

.tarjetas {
    display: flex;
    justify-content: space-between; /* Asegura que haya espacio entre las tarjetas */
    gap: .75em;
}


.tarj-img {
    width: 100%;
    height: 40vh;  /*Fija una altura para todas las imágenes */
    object-fit: cover; /* Las imágenes mantendrán su proporción y llenarán el área */
    border-radius: .75rem;
    margin-bottom: .5em;

} 

.tarjeta-descrip {
    display: flex;
    justify-content: center;
    margin-bottom: .75rem;
    flex-grow: 1; /* Permite que la descripción también crezca y ajuste la altura */
    font-size: 1.1em;
}

/* Clienes */

.clientes-logos {
    width: 90%;
    display: flex;
    text-align: center;
    margin: auto;
}

.logoCliente img {
    max-height: 5rem;
    transition: transform 0.3s ease;
    justify-content: center;
    margin: .75rem;
}

.logoCliente img:hover {
    transform: scale(1.25);
}

/* PROYECTOS */
.proyecto {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Estilos generales del carrusel */
.carrusel {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carrusel-items {
    display: flex;
    gap: .25em;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding: .5rem 0px;
}

.carrusel-item {
    flex: 0 0 auto;
    margin-right: 10px; /* Espacio entre imágenes */
    transition: transform 0.3s ease-in-out;
}

.carrusel-item:hover {
    transform: scale(1.1);
}

/* Estilos para imágenes del carrusel de proyectos (tamaño más grande) */
.proyecto-item img {
    width: 200px; /* Tamaño de las imágenes del carrusel de proyectos */
    height: 200px;
    object-fit: cover;
    border-radius: .25rem;
}

/* Estilos para imágenes del carrusel de ferretería (tamaño más pequeño) */
.ferreteria-item img {
    width: 100px; /* Tamaño de las imágenes del carrusel de ferretería */
    height: 100px;
    object-fit: cover;
    border-radius: .25rem;

}


.titulo-producto{
    display: flex;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    color: var(--azul);
}

.descrip-producto {
    font-size: 1rem;
    padding-bottom: .25rem;
    padding-inline: .5rem;
    text-align: center; /* Centra el texto dentro del párrafo */
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    border: none;
    padding: .25rem;
    color: var(--amarillo);
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
}

button.prev {
    left: .25rem;
}

button.next {
    right: .25rem;
}

/* MECANIZADOS */
.text-mecanizados {
    display: flex;
    margin: auto;
    /* background-image: url('../img/DSImg\ \(5\).jpeg'); */
    background-size: cover; /* que cubra toda la sección */
    background-position: center; /* Centra */
    background-repeat: no-repeat; /* Evita que se repita */
    color: var(--gris-oscuro);
    padding: .5rem;
    border-radius: .5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/* Contacto */

.logoContacto {
    max-width: 90%;
    width: 6.5rem;
    margin: .5rem;
}

.logoContacto:hover {
    width: 5.5rem;
    border: 3px solid var(--color-verde-claro);
}

.logosContactos {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}

.datosContactoFooter {
    display: flex;
    font-size: .75rem;
    margin-block: .25rem;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    padding:.75rem;
    background-color: var(--azul);
}
footer p {
    color: var(--gris-claro);
}

.firmaFooter {
    font-size: .75rem;
    text-align: center;
}


/* Medias Queries */
@media (max-width: 768px){
    header {
        font-size: 1rem;
        padding: .5rem;
    }

    h1 {
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
        margin-left: 0;
        margin-block: .15rem;
    }

    h3,.titulo-producto {
        font-size: 1.25rem;    
    }
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
    }
    
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: -auto;
        background-color: var(--gris-oscuro);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    .nav-list a{
        color: var(--gris-claro);
    }

    header {
        height: 5rem;
    }

    .tarjetas{
        display: flex;
        flex-direction: column;
    }

    .proyecto{
        margin: auto;
    }
        
    .proyecto h3 {
        margin-left: 1.75rem;
        margin-top: 1rem;
    }

 /* Clienes */

.clientes-logos {
    width: 95%;
}

.logoCliente img {
    max-height: 2.5rem;
    margin: .5rem;
}

.logosContactos{
    width: 90%;
    margin: auto;
}

footer {
    font-size: .7rem;
    margin-block: .1rem;
}

footer p {
    justify-content: center;
    margin: auto;
}

.datosContactoFooter {
    font-size: .65rem;
    margin-block: .5em;
    
}

.firmaFooter {
    font-size: .65rem;
    margin-block: .25rem;
}

}

